
/* ===  1. RESET  === */
:root {
  --title: 'Roboto', Arial, Helvetica, sans-serif;
  --text: 'Ubuntu', Arial, Helvetica, sans-serif;
  --mainTransition: all 0.3s linear;  
  /* muzli colors */
  --primary: #f9f5ff;
  --secondary:#004C54;
  /* Darkmode */
  --darkprimary: #313131;
  --darksecondary: #f9f5ff;
  --mainSpacing: .1rem;
}

html {
  font-size: 62.5%; 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  object-fit: contain;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--title);
  color: var(--secondary);
  word-spacing: var(--mainSpacing);
}

p, a, li,
label, input, legend {
  font-family: var(--text);
  color: var(--secondary);
  word-spacing: var(--mainSpacing);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary);
}

/* === BODY === */
.body_container {  
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav header header"
    "nav main main"
    "nav footer footer";
  height: 100vh;
  padding: .5rem 0;
}

.nav { grid-area: nav; }

.header { grid-area: header; }

.main { grid-area: main; }

.footer { grid-area: footer; }

/* Media Querys */
@media screen and (min-width: 1024px) {
  .body_container {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "nav main main"
      "nav footer footer";
    height: 100vh;
    padding: .5rem 0;
  }
}
/* @media screen and (min-with: 1024px) {
  
} */

/* === HEADER === */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0 0 0;
  padding: .5rem;
  width: 100%;
  position:sticky;
  top: 0;
  backdrop-filter: blur(.8rem);
  z-index: 1;
}

.header_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.header_title h1 {
  font-size: 3rem;
}

.header_title h2 {
  font-size: 2rem;
}

.header_logo {
  width: 6.5rem;
}

.nav_icon {
  font-size: 3rem;
  padding: 1rem;
  color: var(--secondary);
}

@media screen and (min-width: 1024px) {
  
  .header {
    position: relative;
  }

  .nav_icon {
    visibility: hidden;
  }

  .header_title h1 {
    font-size: 4rem;
  }

  .header_title h2 {
    font-size: 3rem;
  }

  .header_logo {
    width: 10rem;
  }

}

/* === NAVBAR === */
.nav__listlinks {
  position: absolute;
  width: 35rem;
  display: flex;
  flex-direction: column;
  margin: 0 .5rem;
  border: var(--secondary) solid .1rem;
  border-radius: 0 0 .5rem .5rem;
  backdrop-filter: blur(1rem);
  top: 12rem;
  transform: translateX(-120%);
  transition: var(--mainTransition);
  cursor: pointer;
  list-style-type: none;
}

.show_nav {
  padding: 2rem 0;
  transform: translateX(0);
  transition: var(--mainTransition);
  z-index: 1;
  position: fixed;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.nav__module, .nav__module li {
  padding: .5rem;
  font-size: 1.8rem;
  text-wrap: wrap;
  list-style-type: none;
}

.nav__init {
  padding: .5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.nav__module_links {
  display:block;
  padding: .5rem;
  font-style: italic;
  font-weight: bold;
  transition: var(--mainTransition);
}

a:hover {
  background-color: var(--tertiary);
  color: var(--secondary);
}

@media screen and (min-width: 1024px) {
  .nav {
    margin: 2rem 1.8rem;
  }

  .nav__listlinks {
    position: sticky;
    transform: translateX(0);
    padding: 2rem 1rem;
    box-shadow: #1b365c 0 0 1rem;
    border: none;
    border-radius: .5rem;
    height: auto;
    overflow: hidden;
  }

  .nav__module, .nav__init, .nav__module li {
    font-size: 2rem;
  }


}

/* === MAIN === */
.main__intro {
  margin: 0 auto;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  
}

.main__intro p {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.main__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.main__links a {
  display: block;
  padding: 1rem 2rem;
  font-size: 3rem;
  border-radius: .5rem;
  transition: var(--mainTransition);
}

.main__links a:hover {
  background-color: var(--tertiary);
}

/* Media Querys */
@media screen and (min-width: 768px) {

  .main__intro {
    padding: 0 3rem;
  }

  .main__links {
    margin: 2rem auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .main__intro {
    padding-left: 1.5rem;
  }
}
