/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

/* === RESET === */
:root {
  --title: 'Noto Sans', Arial, Helvetica, sans-serif;
  --text: 'Montserrat', Arial, Helvetica, sans-serif;
  --mainTransition: all 0.3s linear;  
  /* muzli colors */
  --mainLightBlue: #00a7e1;
  --mainGold: #eddea4;
  --mainLightgreen: #d9e5d6;
  --mainPurple: #3b1f2b;
  --mainRed: #FF2200;
  --mainGreen:#03C200;
  /* text decoration */
  --mainSpacing: .1rem;
}

html {
  font-size: 62.5%; 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--title);
  letter-spacing: var(--mainSpacing);
}

p, a, li,
label, input, legend {
  font-family: var(--text);
  letter-spacing: var(--mainSpacing);
}

body {
  background-color: var(--mainLightSilver);
  color: var(--sdnOrange);
}

/* ==== HEADER ==== */
.header {
  position: sticky;
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  backdrop-filter: blur(1.3rem);
  background-color: #f1f1f1cf;
  z-index: 100;
}

.header-logo {
  width: 10rem;
}

.nav__header {
  position: relative;
  order: -1;
  display: flex;
  flex-direction: column;
}

.display-nav {
  font-size: 3rem;
  padding: .5rem;
  color: var(--mainPurple);
  cursor: pointer;
}

.nav__header-linkslist {
  position:absolute;
  display: flex;
  flex-direction: column;
  top: 1rem;
  transform: translateX(-150%);
  transition: var(--mainTransition);
  cursor: pointer;
}

.show-nav {
  transform: translateX(0);
  top: 4rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.4);
  background-color: #f1f1f1cf;

}

.nav__header-linkitem {
  list-style-type: none;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--mainPurple);
}

.nav__header-linkitem a {
  text-decoration: none;
  color: var(--mainPurple);
}

.nav__header-linkitem:hover {
  background-color: var(--mainGold);
}

.modal-logo {
  font-size: 3rem;
  padding: .5rem;
  color: var(--mainPurple);
  cursor: pointer;
}

.modal-btn {
  display: none;
}

/* 768px media querys */
@media screen and (min-width: 768px) {
  
  .nav__header {
    order: 0;
  }

  .display-nav {
    display: none;
  }

  .nav__header-linkslist {
    position: relative;
    flex-direction: row;
    transform: translateX(0);
  }
  
}

/* 1024px media querys */
@media screen and (min-width: 1024px) {

  .header {
    justify-content: space-around;
  }

  .header-logo {
    width: 14rem;
  }
  
  .modal-btn {
    display: block;
  }

  .modal-logo,
  .display-nav {
    display: none;
  }

  .nav__header-linkslist {
    justify-content: space-around;
  }

  .nav__header-linkitem {
    padding: 1rem 1.8rem;
    font-size: 1.8rem;
  }

}

/* ==== MODAL FORM ==== */
/* Modal */
.modal {
  display: none;
  width: 100%;
  padding: 1rem 0;
}

.show {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal {
  align-self: flex-end;
  font-size: 2.5rem;
  color: var(--mainRed);
  margin-bottom: 2rem;
  cursor: pointer;
}

.close-modal:active {
  color: var(--mainPurple);
  transform: scale(-0.6);
}

@media screen and (min-width: 768px) {
  
  .modal-content {
    width: 65rem;
  }

}

/* FORM */
.form-section {
  display: flex;
  flex-direction: column;
  width: 35rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  border: .1rem solid var(--mainPurple);
  box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1fc;
}

.form_img-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.form_img-section h2 {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.login_logo {
  width: 12rem;
  border-radius: 50%;
}

.form-section div {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-section label {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.form-section input {
  width: 100%;
  height: 4rem;
  border-radius: .8rem;
  outline: none;
  border: .2rem solid var(--mainGold);
  padding: 0 3rem;
  box-shadow: .2rem .2rem .4rem rgba(0, 0, 0, 0.1);
}

.form-section div input:focus {
  border: .2rem solid var(--mainPurple);
}

.form-section i {
  position: absolute;
  padding: 1rem;
  top: 2.5rem;
  font-size: 1.5rem;
}

.failure,
.alert {
   color: var(--mainRed);
}

.success {
   color: var(--mainGreen);
}

.alert {
   font-size: 1.4rem;
   margin-top: .5rem;
}

.failure,
.success {
   right: 0;
   opacity: 0;
}

/* Buttons */
.btns-section {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  width: 100%;
}

.btns {
  height: 4rem;
  padding: 1rem 2rem;
  border-radius: .8rem;
  font-size: 1.5rem;
  font-variant: small-caps;
  cursor: pointer;
  transition: all 0.1s ease;
}

.btns:hover {
  box-shadow: 0 .5rem .8rem 0 rgba(0,0,0,0.19);
}

.btns:active {
  transform: scale(.9);
}

.btn-cancel {
  border: none;
  background-color: var(--mainPurple);
  color: var(--mainGold);
}

.btn-log {
  color: var(--mainPurple);
  background-color: var(--mainGold);
  border: none;
}

@media screen and (min-width: 768px) {
  
  .form-section {
    width: 42rem;
  }

}

/* ==== MAIN START ==== */

/* ==== MAIN CONTAINER ==== */
.main_container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90vw;
  max-width: 110rem; */
  gap: 1rem;
}

/* ==== MAIN TITLE ==== */
.main_title {
  width: 90vw;
  max-width: 110rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_title h1 {
  margin: 2rem 0 1.5rem;
  font-size: 2.5rem;
  font-variant: small-caps;
  letter-spacing: var(--mainSpacing);
}

.bkg_title {
  margin-bottom: 3rem;
  width: 100%;
  height: 21.5rem;
  /* background: url('./assets/images/bkg2.webp') no-repeat center; */
  background: url('./assets/images/bkg3.webp') no-repeat center;
  background-size: cover;
  /* filter: drop-shadow(.1rem .1rem 1rem var(--mainPurple)); */
}

@media screen and (min-width: 768px) {

  .main_title h1 {
    font-size: 3.6rem;
  }

  .bkg_title {
    height: 35rem;
  }
  
}

@media screen and (min-width: 1024px) {

  .main_title h1 {
    margin: 1rem 0 1.5rem;
    font-size: 4.5rem;
  }

  .bkg_title {
    height: 45rem;
  }

}

/* ==== MINI BOXES ==== */
.main_boxes {
  width: 100%;
  margin: 2rem 0;
  padding: 3rem 2rem;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-container {
  width: 90vw;
  max-width: 110rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.boxes {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 1.5rem;
  width: 17rem;
  background-color: var(--mainGold);
  border-radius: .5rem;
  font-size: 1.1rem;
}

.box-text p:first-child {
  font-weight: bold;
}

.boxes i {
  border-radius: 50%;
  background-color: #e6e6e6;
  padding: 1rem;
  color: var(--mainPurple);
  font-size: 1.8rem;
}

.boxes:hover {
  background-color: var(--mainPurple);
  color: var(--mainGold);
}

.boxes:hover i {
  background-color: var(--mainGold);
}

/* ==== IMAGE SLIDER ==== */
.imageslider_container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width: 90vw;
  max-width: 110rem;
}

.sections_title {
  text-align: center;
  font-size: 2.8rem;
  font-variant: small-caps;
  color: var(--mainPurple);
}

.sections_title span {
  text-shadow: .2rem .2rem .5rem var(--mainLightBlue);
  letter-spacing: var(--mainSpacing);
}

.imageslider_container .slide_container {
  margin: 2rem 0 0;
  padding-bottom: 5rem;
}

.imageslider_container .slide_container .slide_card_container {
  text-align: center;
  /* width: 40rem; */
  
}

.imageslider_container .slide_container .slide_card_container img {
  opacity: .5;
  transform: scale(.8);
}

.imageslider_container .slide_container .slide_card_container .slide-description {
  transform: scale(0); 
  padding-top: 1rem;
}

.imageslider_container .slide_container .swiper-slide-active img {
  opacity: 1;
  transform: scale(1);
}

.imageslider_container .slide_container .swiper-slide-active .slide-description {
  transform: scale(1);
}

.slide-description li {
  list-style-type: none;
  text-align: center;
}


.imageslider_container .slide_container .slide_card_container .list-desc .list-title {
  font-size: 2rem;
}

.imageslider_container .slide_container .slide_card_container .list-desc .list-price {
  font-size: 1.5rem;
  padding: .5rem 0;
  font-weight: bolder;
  color: var(--mainLightBlue);
}

.imageslider_container .slide_container .slide_card_container .list-desc .list-text {
  font-size: 1.5rem;
  padding: .5rem 0;
}

.imageslider_container .slide_container .slide_card_container .slide-description .list-icons {
  margin: 0 auto 1rem;
  width: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  letter-spacing: var(--mainSpacing);
}

.imageslider_container .slide_container .slide_card_container .slide-description a {
  display: inline-block;
  margin-top: .5rem;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.imageslider_container .slide_container .slide_card_container .slide-description .list-icons i {
  text-align: center;
  padding-right: .8rem;
  line-height: 4rem;
  font-size: 1.8rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--mainGold);
}


/* ==== SERVICES BOXES ==== */
.box-services {
  margin: 2rem 0;
  /* width: 90vw;
  max-width: 110rem; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.box {
  padding: 1.5rem 1.2rem;
  width: 30rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: .1rem .1rem .5rem var(--mainPurple);
}

.box i {
  padding: 1.2rem;
  border-radius: 50%;
  background-color: var(--mainGold);
  color: var(--mainPurple);
  font-size: 2.2rem;
}

.box h2 {
  font-size: 2.2rem;
  font-variant: small-caps;
}

.box p {
  font-size: 1.5rem;
  text-align: center;
}

.box:hover {
  background-color: var(--mainLightBlue);
}


@media screen and (min-width: 768px) {

  /* .box-services {
    flex-direction: row;
  } */

}

/* ==== FEATURED HOUSES ==== */
.featured-houses {
  width: 90vw;
  max-width: 110rem;
}


.featured-houses .featured-container {
  margin: 1rem 0 2rem;
  padding: 1rem 1rem 4rem;
}

.featured-houses .featured-container .featured-box {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: .1rem .1rem .5rem var(--mainPurple);
  border-radius: .5rem;
  color: var(--mainPurple);
}

.featured-houses .featured-container .featured-box img {
  height: 20rem;
}

.featured-houses .featured-container .featured-box:hover img {
  transform: scale(1.01);
}

.featured-houses .featured-container .featured-box .list-title {
  font-size: 2.2rem;
  padding: .5rem 0;
}

.featured-houses .featured-container .featured-box .list-price {
  font-size: 1.8rem;
  padding: .5rem 0;
}

.featured-houses .featured-container .featured-box i {
  font-size: 1.5rem;
  padding: .5rem 0;
  text-shadow: -.1rem .1rem #eddea4;
}

.featured-houses .featured-container .featured-box a {
  margin: 1rem 0;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ==== SUBSCRIBE ==== */
.subscribe-container {
  position: relative;
  margin: 2rem 0;
  width: 100%;
  height: 35rem;
}

.bkg-img {
  position: absolute;
  z-index: -1;
  background-image: url('./assets/images/houses/modern_house.webp');
  background-position: center;
  background-size: cover;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.subscribe-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 110rem;
  height: 20rem;
  padding: .5rem;
  text-align: center;
}

.subscribe-box h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.subscribe-box p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.subscribe-form {
  display: flex;
  width: 90%;
}

.subscribe-form input[type="text"] {
  padding: 1rem;
  font-size: 1.5rem;
  border: .1rem solid var(--mainPurple);
  width: 80%;
  border-radius: 1rem 0 0 1rem;
}

.subscribe-form button {
  width: 20%;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius:  0 1rem 1rem 0;
  border: .1rem solid var(--mainPurple);
  border-left: none;
  background-color: var(--mainGold);
  cursor: pointer;
  transition: var(--mainTransition);
}

.subscribe-form button:hover {
  background-color: var(--mainPurple);
  color: var(--mainGold);
}

@media screen and (min-width: 768px) {

  .subscribe-form {
    display: flex;
    width: 60%;
  }

  .subscribe-box h2 {
    font-size: 2.5rem;
  }
  
  .subscribe-box p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .subscribe-form button {
    font-size: 1.5rem;
    letter-spacing: var(--mainSpacing);
  }
}

/* ==== CLIENTS REVIES ==== */
/* =============
    3. REVIEWS
   ============= */
   .review-card {
    margin: 2rem 0;
    width: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(43, 42, 42, 0.7);
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mg {
    margin: 0 0 0.5rem;
  }
  
  .underline {
    width: 7rem;
    height: 0.5rem;
    background-color: var(--mainPurple);
  }
  
  @media screen and (min-width: 768px) {
    .review-card {
      width: 50rem;
    }
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .rd-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0.8rem -0.3rem var(--mainPurple);
  }
  
  .quotes {
    position: absolute;
    left: 35%;
    width: 3rem;
    height: 3rem;
    font-size: 3.5rem;
    background-color: var(--mainPurple);
    border-radius: 50%;
    color: whitesmoke;
    text-align: center;
    line-height: 4.5rem;
  }
  
  @media screen and (min-width: 768px) {
    .rd-img {
      width: 12rem;
      height: 12rem;
    }
  
    .quotes {
      left: 43.5%;
    }
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .author {
    font-size: 1.8rem;
  }
  
  .job {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--mainPurple);
  }
  
  .info {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
    padding: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .author {
      font-size: 2.2rem;
    }
  
    .job {
      font-size: 1.5rem;
    }
  
    .info {
      font-size: 1.3rem;
    }
  }
  
  .card-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel-btn {
    margin: 0;
  }
  
  #left,
  #right {
    font-size: 4rem;
    margin: 0 1rem;
    color: var(--mainPurple);
    cursor: pointer;
  }
  
  .surpriseBtn {
    margin: 0.4rem 0 1rem;
    padding: 1rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--mainPurple);
    color: var(--mainGold);
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: var(--mainTransition);
  }

  .surpriseBtn:hover {
    background-color: var(--mainGold);
    color: var(--mainPurple);
  }


/* ==== CONTACT ==== */
.contact-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-iform {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 110rem;
  gap: 1.5rem;
}

.contact-iframe,
.contact-form {
  padding: 1rem;
  width: 40rem;
  height: 100%;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .5rem var(--mainPurple);
}

.contact-iframe iframe {
  width: 100%;
  height: 35rem;
}

.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.contact-form h4 {
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5rem;
  margin: 1rem 0 1.8rem;
}

.contact-form input {
  margin-bottom: .8rem;
  font-size: 1.2rem;
  padding: .5rem .8rem;
  border: none;
  border-bottom: .1rem solid var(--mainPurple);
}

.contact-form textarea {
  margin: 1.8rem 0;
  resize: none;
  padding: .5rem .8rem;
  font-size: 1.2rem;
  height: 15rem;
  border: .1rem solid var(--mainPurple);
  border-radius: .5rem;
}

@media screen and (min-width: 768px) {

  .contact-iform {
    gap: 3rem;
  }

  .contact-iframe,
  .contact-form {
    width: 60rem;
  }

  .contact-form h4 {
    font-size: 2rem;
  }
 
}

@media screen and (min-width: 1024px) {

  .contact-iform {
    margin: 2rem 0;
    flex-direction: row;
  }

  .contact-iframe {
    flex: 0 0 calc(50% - 1rem);
    height: 40rem;
  }

  .contact-form form {
    padding: 0 1rem;
  }

}

/* ==== MAIN END ==== */

/* ==== FOOTER START ==== */
.footer {
  background-color: var(--mainGold);
  padding: 1.5rem 2rem;
}

.footer-list-container {
  margin: 0 auto;
  width: 90vw;
  max-width: 110rem;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 1rem  0;
  cursor: pointer;
}

.list h5 {
  font-size: 1.6rem;
}

.footer-list {
  font-family: var(--text);
  padding: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.footer-item {
  list-style-type: none;
  display: flex;
  font-size: 1.4rem;
}

.footer-item i,
.footer-item p {
  padding-right: .8rem;
  transition: var(--mainTransition);
}

.footer-item p:hover {
  padding-left: 1rem;
}

@media screen and (min-width: 768px) {

  .footer-list-container {
    flex-direction: row;
  }

  
}
/* ==== FOOTER END ==== */

