
/* ===  1. RESET  === */
:root {
  --title: 'Roboto', Arial, Helvetica, sans-serif;
  --text: 'Ubuntu', Arial, Helvetica, sans-serif;
  --mainTransition: all 0.3s linear;  
  /* muzli colors */
  --primary: #f9f5ff;
  --secondary:#1b365c;
  --tertiary: #ffd581;
  --quaternary: #fd9b9e;
  --mainSpacing: .1rem;
}

html {
  font-size: 62.5%; 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  object-fit: contain;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--title);
  color: var(--secondary);
}

p, a, li,
label, input, legend {
  font-family: var(--text);
  color: var(--secondary);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary);
}

/* === BODY === */
.body_container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav header header"
    "nav main main"
    "nav footer footer";
  height: 100vh;
  padding: .5rem 0;
}

.nav { grid-area: nav; }

.header { grid-area: header; }

.main { grid-area: main; }

.footer { grid-area: footer; }


/* === HEADER === */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem 1rem;
  /* width: 100%; */
}

.header_logo {
  width: 6rem;
}

/* === NAVBAR === */
.nav_icon {
  font-size: 4rem;
  padding: 1rem;
}