/* INDEX */
/* colors: 
#454d66, #309975, #58b368, #dad873, #efeeb4 */

/* ===========
    1. Global
   =========== */
/* Variable */
:root {
    --titles: 'Dancing Script', cursive, Arial, sans-serif;
    --text: 'Oxygen', Arial, sans-serif;
}
html {
    font-size: 62.5%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ============
    1. HEADER
   ============ */
.main__header {
    margin: 0;
    background-color: #454d66;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0rem .5rem 3rem #454d66;
    z-index: 1;
}

/* NAVBAR */
.nav__main {
    margin: 0;
    padding: .5rem;
    position: relative;
}

.nav__main-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    transform: translateX(-150%);
    transition: transform .3s;
    position: absolute;
}

.show {
    transform: translateX(0);
    position: relative;
    display: flex;
    justify-content: center;
}

.list-item {
    list-style: none;
    padding: .5rem;
    margin: .5rem;
    border-radius: 1rem;
    background-color: #dad873;
    
}

.list-item a {
    display: inline-block;
    color: #454d66;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--text);
}

.list-item a:hover {
    color: #dad873;
}

.hover:hover {
    background-color: #309975;
}

.main__title {
    color: #dad873;
    margin: 0 auto;
    padding: 0;
    font-variant: small-caps;
    font-size: 3rem;
    font-family: var(--titles);
    text-align: center;
}



/* NAVBAR LOGO */
.logo {
    display: none;
}

.logo img {
    border-radius: 50%;
}

.toggle-menu {
    font-size: 3rem;
    color: #dad873;
    padding: .5rem;
}

@media screen and (min-width: 768px) {

    .main__header {
        align-items: center;
        padding: .5rem;
    }

    .toggle-menu {
        transform: translateX(-110%);
        transition: transform .3s;
        position: absolute;
    }

    .logo {
        margin: 0 1rem;
        padding: .2rem;
        display: block;
    }

    .nav__main-list {
        display: flex;
        flex-direction: row;
        transform: translateX(0);
        transition: transform .3s;
        position: relative;
    }

    .list-item a {
        font-size: 1.5rem;
        padding: .5rem;
    }

}

@media screen and (min-width: 1000px) {
    
    .main__header {
        padding: .5rem;
    }
    .main__title {
        font-size: 4rem;
    }

    .nav__main-list {
        display: flex;
        flex-direction: row;
        padding: 0 2em;
    }

    .list-item a {
        font-size: 1.8rem;
        padding: .8rem;
    }
}

/* ==========
    1. MAIN
   ========== */
.main__section {
    background-color: #efeeb4;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__section-title {
    font-size: 3.2rem;
    margin: 2rem 0 1rem;
    font-family: var(--titles);
    color: #309975;
    letter-spacing: .5rem;
    font-variant: small-caps;
    text-shadow: .1rem .1rem 2rem #454d66;
}

.section-photo {
    width: 32rem;
    padding: .2rem;
    margin: 1rem 2rem;
}

.section-photo img {
    box-shadow: -.5rem .5rem 2rem #454d66;
    border-radius: 1rem;
}

.section-text {
    padding: 1rem;
    margin: .5rem 0 .5rem 1rem;
}
.section-text p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-family: var(--text);
}

.section-text p::first-letter {
    font-size: 2.2rem;
    color: #309975;
    font-weight: 700;
}

@media screen and (min-width: 768px) {

    .section-photo {
        width: 60rem;
        padding: 0;
        margin: 0 auto;
    }

    .section-text p {
        font-size: 1.8rem;
    }

    .section-text p::first-letter {
        font-size: 2.5rem;
    }

    .main__section-title {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 1000px) {
    
    .main__section-about {
        display: flex;
        align-items: center;
        margin: 2rem 0 3rem;
    }

    .section-photo {
        width: auto;
        margin: 0 1.5rem;
        flex: 0 0 calc( 50% - 1rem);
    }

    .section-text p {
        font-size: 2rem;
    }

    .section-text p::first-letter {
        font-size: 3rem;
    }

    .main__section-title {
        font-size: 4rem;
    }

}



/* ============
    3. FOOTER
   ============ */
.footer {
    background-color: #454d66;
    display: flex;
    flex-direction: column;
    height: 17vh;
}

.footer__list {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem .5rem;
}

.footer__list-item {
    list-style: none;
    padding: 0 1rem;
}

.footer__list-item a {
    font-size: 2rem;
    color: #dad873
}

.footer__list-item a:hover {
    color: #309975;
}

.footer__text {
    align-self: center;
    color: #dad873;
    margin: .5rem 0 1rem;
}

@media screen and (min-width: 1000px) {
    
    .footer__list {
        padding: 2rem 2rem .5rem;
    }

    .footer__list-item {
        padding: 0 2rem;
    } 

}

/* =============
    3. RESERVA
   ============= */

.reservation__form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    border: .1rem solid #454d66;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(2.5rem);
    box-shadow: 0 2.6rem 2.4rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.reservation__form label {
    font-size: 1.5rem;
    font-family: var(--text);
    margin-bottom: .5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.size, select {
    width: 20rem;
    font-size: 1.5rem;
    padding: .5rem;
    margin-bottom: 1.2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: .2rem .2rem 1rem inset #454d66;
}

.size:focus {
    outline: none;
    background-color: #30997456;
}
input#diners {
    width: 5rem;
}

.reservation__form .size[type="radio"] {
    box-shadow: none;
    width: 3rem;
    margin: 0;
}

.reservation__form textarea {
    resize: none;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: .5rem;
}

.submit-btn {
    background-color: #454d66;
    color: #dad873;
    font-family: var(--text);
    align-self: flex-end;
    width: 10rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    padding: .5rem;
}

.submit-btn:hover {
    background-color: #309975;
    color: #dad873;
}

.submit-btn:focus {
    transform: scale(0.7);
    transition: transform .3s;
    background-color: #309975;
    color: #dad873;
}

.meal {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    
}
.meal label {
    margin-bottom: 0;
}



.meal-times {
    position: relative;
}

.lunch_time, .dinner_time {
    transform: translateX(-300%);
    transition: transform .3s;
    position: absolute;
}



.lunch {
    transform: translateX(0);
    position: relative;
}

.dinner {
    transform: translateX(0);
    position: relative;
}

@media screen and (min-width: 768px) {
    .reservation__form {
        width: 60rem;
    }
}

@media screen and (min-width: 1000px) {
    
}


/* ===============
    3. TAKE AWAY
   =============== */

legend {
    font-size: 1.5rem;
    font-family: var(--text);
    padding: 0 .5rem;
}

.form__takeaway-contact, 
.form__takeaway-time,
.form__takeaway-menu {
    display: flex;
    flex-direction: column;
    /* padding: 1rem 0  1rem 2rem; */
    margin-bottom: 1.5rem;
    max-width: 100%;
}

.menu-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.lot {
    max-width: 4rem;
    font-size: 1.5rem;
    padding: .5rem;
    margin-bottom: 1.2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: .2rem .2rem 1rem inset #454d66;
}


@media screen and (min-width: 768px) {
    .form__takeaway-contact {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form__takeaway-contact label {
        padding-right: .8rem;
        text-overflow: ellipsis;
    }

    .form__takeaway-contact input {
        margin-right: 1rem;
        width: 18rem;
    }

    .form__takeaway-menu {
        padding-left: 2rem;
    }
    .form__takeaway-menu input {
        width: 40rem;
    }
}

@media screen and (min-width: 1000px) {
    .main__section-title {
        font-size: 4rem;
    }
}